<div class="col-md-2">
    <div class="content-box-large text-center">
        <figure>
            <img src="{{$imgAlbum}}" alt="Image album" height="100" width="100">
            <figcaption>{{$nomAlbum}}, {{$date}}</figcaption>
        </figure>
        <input type="radio" value="Selectionner" name="selectAlbum"> Selectionner
        <div class="panel-options">
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
</div>