<div class="col-md-12 article">
    <div class="col-md-8">
        <div class="content-box-large">
            <h1>{{$titreArticle}}</h1>
            <h2>{{$soustitreArticle}}</h2>
            <h3>{{$dateArticle}}, {{$auteur}}</h3>
            <figure>
                <img src="{{$imgArticle}}" alt="Photo article">
                <figcaption>{{$legendeImg}}</figcaption>
            </figure>
            <p>{{$textArticle}}</p>
            <div class="panel-options">
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#" data-rel="reload"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
        </div>
    </div>
</div>