<div class="col-md-2">
    <div class="content-box-header">
        <div class="panel-title">{{$anneeEdition}}</div>
    </div>
    <div class="content-box-large box-with-header text-center">
        <figure>
            <img src="{{$imgTeam}}" alt="Image team" height="100" width="100">
            <figcaption>{{$nomEquipe}}</figcaption>
        </figure>
        <input type="radio" value="Selectionner" name="selectEdition"> Selectionner
        <div class="panel-options">
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </div>
</div>